<form action="https://jaaga.us13.list-manage.com/subscribe/post?u=47b3cfaf123951d343e4a7f2b&amp;id=cbe063181d" method="post" id="email-form">
  <div class="field has-addons">
    <div class="control">
      <input name="EMAIL" class="input" type="email" placeholder="Your email address" required>
    </div>
    <div class="control">
      <button class="button is-primary" id="email-submit">
      Get in touch!
    </button>
    </div>
  </div>
</form>
<br />
