<nav class="navbar is-jaaga-red">
  <div class="navbar-brand is-size-7">
    <a class="navbar-item is-white is-size-7" href="/"><span class="icon"><i class="fa fa-home"></i></span></a>
    <!-- <a class="navbar-item is-white-bg is-size-7" href="/">
      <figure class="image is-paddingless is-marginless">
        <img src="/favicon.png">
      </figure>
    </a> -->
    <a class="navbar-item is-dna is-white is-uppercase is-size-7" href="/dna/">DNA</a>
    <a class="navbar-item is-study is-white is-uppercase is-size-7" href="/study/">Study</a>
    <a class="navbar-item is-startup is-white is-uppercase is-size-7" href="/startup/">Startup</a>
    <div class="navbar-burger is-white" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    {{> "right-navbar"}}
  </div>
</nav>