<nav class="navbar is-study">
  <div class="navbar-brand">
    <a class="navbar-item is-white is-size-5" href="/study-farm/">Farm</a>
    <a class="navbar-item is-white is-size-5" href="/study-city/">City</a>
    <a class="navbar-item is-uppercase is-size-5 is-white" href="/study-join/"><b>Join</b></a>
  </div>
</nav>
