<nav class="navbar is-dna">
  <div class="navbar-brand">
    <a class="navbar-item is-white" href="/"><span class="icon"><i class="fa fa-home"></i></span></a>
    <a class="navbar-item is-white" href="/dna/">DNA</a>
    <a class="navbar-item is-white" href="/dna-projects/">Projects</a>
    <div class="navbar-burger is-white" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
  <div class="navbar-start">
    <a class="navbar-item is-white" href="/dna-residencies/">Residencies</a>
    <a class="navbar-item is-uppercase is-white" href="/dna-join/"><b>Join</b></a>
  </div>
  {{> "right-navbar"}}
  </div>
</nav>
