<nav class="navbar is-study">
  <div class="navbar-brand">
    <a class="navbar-item is-white" href="/"><span class="icon"><i class="fa fa-home"></i></span></a>
    <a class="navbar-item is-white" href="/study/">Study</a>
    <a class="navbar-item is-white" href="/study-farm/">Farm</a>
    <a class="navbar-item is-white" href="/study-city/">City</a>
    <div class="navbar-burger is-white" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item is-uppercase is-size-5 is-white" href="/study-join/"><b>Join</b></a>
    </div>
    {{> "right-navbar"}}
  </div>
</nav>
