<nav class="navbar is-startup">
  <div class="navbar-brand">
    <a class="navbar-item is-white" href="/"><span class="icon"><i class="fa fa-home"></i></span></a>
    <a class="navbar-item is-white" href="/startup/">Startup</a>
    <a class="navbar-item is-white" href="/startup-benefits/">Why</a>
    <a class="navbar-item is-uppercase is-size-5 is-white" href="/startup-join/"><b>Join</b></a>
    <div class="navbar-burger" data-target="navMenu">
      <span class="is-white"></span>
      <span class="is-white"></span>
      <span class="is-white"></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item is-white" href="/startup-pricing/">Pricing</a>
    </div>
    {{> "right-navbar"}}
  </div>
</nav>